@import url('https://fonts.googleapis.com/css?family=Raleway');

$text-color: #FFF;
$background-color: #343a40;

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

body {
    
    font-family: "Raleway";
}
nav {
    background-color: #00cdcf;
    a {
        color: $text-color;
    }
    .form {
        background-color: #00cdcf;
    }
    .dropdown-menu {
        background-color: #00cdcf;
        a {
            color: $text-color;
        }
    }
}

.carousel {
    max-height: 400px;
    img {
        width: 80%;
        height: 300px;
        margin: 0px auto;
    }
}

section {
    color: $text-color;
    background-color: #00cdcf;
    .row {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .modal-content {
        background-color: $background-color;
        button {
            color: $text-color;
        }
        button:hover {
            color: $text-color;
        }
    }
    
    article:hover {
        @include transform(scale(1.1));
        transition: all 0.3s ease;
    }

    article {
        .card-body {
            background-color: #FFF;
            color: #000;
        }
    }
}

footer {
    padding-top: 80px;
    .contact-form h1{
        padding:2em 1px;
        color: #000; 
       }
       .contact-form .right{
            max-width: 600px;
        .form-control::placeholder{
            color: #888;
            font-size: 16px;
        }
       }
}