@import url('https://fonts.googleapis.com/css?family=Raleway');

$text-color: #FFF;
$background-color: #00cdcf;

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

body {
    
    font-family: "Raleway";
}
nav {
    background-color: $background-color;
    a {
        color: $text-color;
    }
    .form {
        background-color: $background-color;
    }
    .dropdown-menu {
        background-color: $background-color;
        a {
            color: $text-color;
        }
    }
}

/*.carousel {
    max-height: 400px;
    img {
        width: 80%;
        height: 400px;
        margin: 0px auto;
    }
}*/


.container {
    .row {
        .banner {
            
        }
    }
}

section {
    color: $text-color;
    background-color: $background-color;
    h2 {
        padding-bottom: 10px;
        border-bottom: 4px;
        border-bottom-style: double;
    }
    .row {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .modal-header {
        color: #000;
    }
    .modal-body {
        background-color: $background-color;
    }
    .modal-footer {
        button {
            background-color: #009a9c;
            color: $text-color;
        }
        button:hover {
            @include transform(scale(1.1));
            transition: all 0.3s ease;
        }
    }
    article:hover {
        @include transform(scale(1.1));
        transition: all 0.3s ease;
    }

    article {
        .card-body {
            background-color: $text-color;
            color: #000;
            border-radius: 5px;
            a {
                background-color: #009a9c;
                color: $text-color;
            }
            a:hover {
                @include transform(scale(1.1));
                transition: all 0.3s ease;
            }
        }
    }
}

footer {
    padding-top: 80px;
    .contact-form h1 {
        padding:2em 1px;
        color: #000; 
       }
    .contact-form .right {
        max-width: 600px;
        .form-control::placeholder {
            color: #888;
            font-size: 16px;
        }
    }
    .submit {
        background-color: #009a9c;
        color: $text-color;
    }
    .submit:hover {
        @include transform(scale(1.05));
        transition: all 0.3s ease;
    }

}